{% extends 'myProjectApp/base.html' %}
{% load static %}
{% block title %}Education{% endblock %}
{% block content %}
<div class="container">
    <h2 class="section-title">Education</h2>
    <hr>
    <table>
        <tr>
            <td>
                <ul>
                    <li>
                        <span style="font-family: Bahnschrift; font-size: 1.25em;">The Education University</span><br>
                        <span style="font-family: Bahnschrift; font-size: 1em;"><i>Bachelor of Computer Science Education</i></span>
                    </li>
                </ul>
            </td>
            <td align="center">
                <span style="font-family: Bahnschrift; font-size: 1.25em;">2023 - Present</span>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <span style="font-family: Bahnschrift; font-size: 1.25em;">Al-Ittihad Senior High School</span><br>
                        <span style="font-family: Bahnschrift; font-size: 1em;"><i>Student of Natural Science class</i></span>
                    </li>
                </ul>
            </td>
            <td align="center">
                <span style="font-family: Bahnschrift; font-size: 1.25em;">2020 - 2023</span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}