{% extends 'myProjectApp/base.html' %}
{% load static %}
{% block title %}Experiences{% endblock %}
{% block content %}
<div class="container">
    <h2 class="section-title">Experiences</h2>
    <hr>
    <table>
        <tr>
            <td>
                <ul>
                    <li>
                        <span style="font-family: Bahnschrift; font-size: 1.25em;">Freelancer.com</span><br>
                        <span style="font-family: Bahnschrift; font-size: 1em;"><i>Graphic Designer Part-time Worker</i></span>
                    </li>
                </ul>
            </td>
            <td align="center">
                <span style="font-family: Bahnschrift; font-size: 1.25em;">2019 - Present</span>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <span style="font-family: Bahnschrift; font-size: 1.25em;">ALOA Fashion & Style</span><br>
                        <span style="font-family: Bahnschrift; font-size: 1em;"><i>Designer</i></span>
                    </li>
                </ul>
            </td>
            <td align="center">
                <span style="font-family: Bahnschrift; font-size: 1.25em;">2023 - 2024</span>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <span style="font-family: Bahnschrift; font-size: 1.25em;">Al-Ittihad Senior High School</span><br>
                        <span style="font-family: Bahnschrift; font-size: 1em;"><i>General Secretary of Student Council</i></span>
                    </li>
                </ul>
            </td>
            <td align="center">
                <span style="font-family: Bahnschrift; font-size: 1.25em;">2022 - 2023</span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}